.wrapper {
  flex: 1 0 auto;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  position: relative;

  .paginationWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 50vw;
    background-color: white;
    @media screen and (max-width: 320px) {
      width: 100vw;
      padding: 0 8px;
    }
    div {
      font-size: 32px;
      font-weight: bold;
      height: 25%;
      width: auto;
      position: relative;
      border-radius: 30px;
      margin: 5px;
      cursor: pointer;
      box-shadow: -2px 2px 9px 1px rgb(10, 152, 247);
    }
    .pagination {
      color: rgb(10, 152, 247);
      border: 1px solid rgb(10, 152, 247);
      padding: 10px;
    }
    .selectedPage {
      background: rgb(108, 136, 155);
      color: white;
      border: 3px solid black;
      padding: 8px;
    }
  }
}
